@model IEnumerable<MVCPASEX1.Models.Department>
@{
    ViewBag.Title = "DepartmentDetails";
}

<h2>DepartmentDetails</h2>

@using(Html.BeginForm())
{
    <h2>@Html.ActionLink("Create New","AddDepartment")</h2>
    <table border="1" align="center" cellpadding="2" cellspacing="2">
        <tr>
            <th>Department No</th>
            <th>Department Name</th>
            <th>Location</th>
            <th>Action</th>
        </tr>
        @foreach(var i in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m=>i.dno)</td>
                <td>@Html.DisplayFor(m => i.dname)</td>
                <td>@Html.DisplayFor(m => i.City)</td>
                <td>@Html.ActionLink("Edit", "EditDepartment", new { id = i.dno })|@Html.ActionLink("Delete", "DeleteDeptdetails", new { id = i.dno }, new {onclick="return confirm('Are sure wants to delete?');" })</td>

            </tr>
        }
    </table>
}