@model MVCPASEX1.Models.Department
@{
    ViewBag.Title = "EditDepartment";
}

<h2>EditDepartment</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>@Html.LabelFor(d => d.dno)</td>
            <td>@Html.EditorFor(d => d.dno)</td>
            <td>@Html.ValidationMessageFor(d => d.dno)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(d => d.dname)</td>
            <td>@Html.EditorFor(d => d.dname)</td>
            <td>@Html.ValidationMessageFor(d => d.dname)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(d => d.City)</td>
            <td>@Html.EditorFor(d => d.City)</td>
            <td>@Html.ValidationMessageFor(d => d.City)</td>
        </tr>
        <tr>
            <td><input type="submit" value="Update" /></td>

        </tr>


    </table>
    <p>@Html.ActionLink("View Department", "DepartmentDetails")</p>
}

